*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-template-rows: repeat(20, 40px);
  gap: 10px 10px;

  align-content: center; /* start; center; space-between; space-around; */
  align-items: stretch; /* stretch; center; start; end; */
  align-self: stretch; /* stretch; center; start; end; */

  justify-content: center; /* start; center; space-between; space-around; space-evenly; */
  justify-items: stretch; /* stretch; center; start; end; */
  justify-self: stretch; /* stretch; center; start; end; */
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.block {
    padding: 10px;
}

.block1 {
  background-color: royalblue;
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
}

.block2 {
  background-color: green;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.block3 {
  background-color: red;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.block4 {
  background-color: black;
  grid-column: 3 / span 3;
  grid-row: 2 / span 1;
}

.block5 {
  background-color: purple;
  grid-column: 6 / span 4;
  grid-row: 2 / span 1;
}

.block6 {
  background-color: yellow;
  grid-column: 10 / span 3;
  grid-row: 2 / span 4;
}

.block7 {
  background-color: brown;
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.block8 {
  background-color: pink;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.block9 {
  background-color: orange;
  grid-column: 3 / span 3;
  grid-row: 3 / span 1;
}

.block10 {
  background-color: gray;
  grid-column: 6 / span 4;
  grid-row: 3 / span 1;
}

.block11 {
  background-color: aliceblue;
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
}

.block12 {
  background-color: blueviolet;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.block13 {
  background-color: cornflowerblue;
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
}

.block14 {
  background-color: darkcyan;
  grid-column: 6 / span 4;
  grid-row: 4 / span 2;
}

